body {
    margin: 0;
    font-family: Arial;
    background: #0a0a0a;
    color: #00fff7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor */
.app {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 20px #00fff7;
    text-align: center;
}

/* Input */
.top {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #00fff7;
    background: black;
    color: #00fff7;
}

/* Botón */
button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #00fff7;
    color: black;
    cursor: pointer;
}

/* Filtros */
.filtros {
    margin-top: 10px;
    display: flex;
}

.filtros button {
    flex: 1;
    margin: 5px;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00fff7;
}

/* Acciones */
.acciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Botón check */
.check {
    background: #00ff88;
    color: black;
    font-weight: bold;
}

.check:hover {
    box-shadow: 0 0 10px #00ff88;
}

/* Completada */
.hecho {
    text-decoration: line-through;
    color: #777;
}

/* Botón eliminar */
.eliminar {
    background: #ff0055;
    color: white;
}

/* Footer */
.footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* Vacío */
#vacio {
    margin-top: 10px;
    color: #888;
    display: none;
}
